<!-- acessando direto do template -->
<div>
  <button mat-button color="primary" (click)="stopwatch.start()">Start</button>
  <button mat-button color="accent" (click)="stopwatch.stop()">Stop</button>
  <button mat-button color="warn" (click)="stopwatch.clear()">Clear</button>
</div>

<!--so pode existir um nome de template por componente
  dessa forma eu posso chamar os metodos dos componentes filhos diretamente
-->
<app-timer #stopwatch>

</app-timer>

<div>
  <button mat-button color="primary" (click)="start()">Start</button>
  <button mat-button color="accent" (click)="stop()">Stop</button>
  <button mat-button color="warn" (click)="clear()">Clear</button>
</div>

<p #myP>Hi</p>